# Ignore everything
*

# Do not ignore the README.md file - include that.
!README.md

# Do not ignore the LICENSE file - include that.
!LICENSE

# Do not ignore the .gitignore file - include that.
!.gitignore

# Ignore all subdirectories directly within VideoRAG that start with an underscore.
VideoRAG/_*/

# But do NOT ignore files directly within VideoRAG that start with an underscore - include those.
!VideoRAG/_*

# And specifically do NOT ignore the VideoRAG/_archive directory - include that directory.
!VideoRAG/_archive/

# And specifically do NOT ignore the VideoRAG/_motivation directory - include that directory.
!VideoRAG/_motivation/

# Do not ignore the VideoRAG/videorag/_llm.py file - include that.
!VideoRAG/videorag/_llm.py